.goods {
    background: $dark-white;
    padding-top: 82px;
    padding-bottom: 40px;   
    @include media($lg){
        padding-top: 40px;
        padding-bottom: 20px;
    }
    
    &__card {
        margin-bottom: 40px;
        @include media($lg){ 
            margin-bottom: 25px;
        }
        @include media($md){ 
            display: flex;
            flex-direction: column; 
        }
    }

    &__name {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $bbCard;
        @include media($md){ 
            width: 100%;
            justify-content: center;
        }
    }

    &__icon {
        width: 22px;
        height: 22px;
        fill: $purple;
        margin-right: 10px;
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $black3;
        margin-right: 10px;
    }

    &__count {
        display: inline-block;
        padding: 3px 8px;
        background: $purple-bg-opacity; 
        border-radius: 2px; 
        color: $purple;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.8px;
    }

    &__list {
        margin-bottom: 15px;
    }
    
    &__item:not(:last-child) {
        margin-bottom: 15px;
        @include media($lg){
            margin-bottom: 10px;
        }
    }
    
    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 19.6px;
        color: $black4;
    }
    
    &__link:hover { 
        color: $hover;
    }

    &__more {
        display: flex;
        align-items: center;
    }

    &__more-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $purple;
        margin-right: 7px;
    }

    &__more-icon {
        width: 4px;
        height: 4px;
        fill: $purple;
    }
}