.advertising 
    .container  
        .row.justify-content-center  
            .col-4.col-xl-6.col-md-12.advertising__col 
                .advertising__card.advertising__first 
                    h3.advertising__title Лучший парфюм который скрасит ваши будни
                    img(src="./images/parfum.webp", alt="").advertising__img
            .col-4.col-xl-6.col-md-12.advertising__col
                .advertising__card.advertising__second  
                    h3.advertising__title Антисептические средства для вашего дома
                    img(src="./images/antiseptik.webp", alt="").advertising__img
            .col-4.col-xl-6.col-md-12.advertising__col 
                .advertising__card.advertising__third  
                    h3.advertising__title Лучшие и полезные товары для вашего уюта в доме
                    img(src="./images/candle.webp", alt="").advertising__img