.app 
    .container
        .row 
            .col-6.col-lg-4.col-md-12 
                .app__left 
                    img(src="./images/girlApp.webp", alt="Girl").app__img
            .col-6.col-lg-8.col-md-12 
                .app__right
                    h3.app__title Установите новое мобильное приложение
                    p.app__desc Все необходимые товары уже в вашем телефоне! Установите мобильное приложение и находите то, что нужно за секунды прямо с телефона!
                    .app__download
                        a(href="http://play.google.com").app__link
                            img(src="./images/googleplay.webp", alt="GooglePlay").app__google
                        a(href="http://apple.com").app__link
                            img(src="./images/appstore.webp", alt="AppStore").app__apple  