.main-carousel
    .container    
        .swiper.main-swiper  
            .swiper-button-prev.main-carousel__prev 
                svg.main-carousel__prev-icon   
                    use(xlink:href="./svg/sprite.svg#prev") 
            .swiper-wrapper.main-carousel__wrapper
                .swiper-slide 
                    .container.no-gutters 
                        .row.justify-content-center.main-carousel__slide 
                            .col-6.col-lg-8.col-md-12
                                .main-carousel__content 
                                    .main-carousel__text 
                                        h1.main-carousel__title Подарите своим близким новый iPad mini!
                                        p.main-carousel__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget morbi vitae lorem risus, lectus. Suspendisse aliquam eget sed gravida nec.
                                        a(href="#!").main-carousel__link Подробнее
                            .col-4.col-lg-2
                                img(src="./images/header-carousel.webp", alt="img").main-carousel__img   
                .swiper-slide 
                    .container.no-gutters 
                        .row.justify-content-center.main-carousel__slide 
                            .col-6.col-lg-8.col-md-12 
                                .main-carousel__content 
                                    .main-carousel__text 
                                        h1.main-carousel__title Подарите своим близким новый iPad mini!
                                        p.main-carousel__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget morbi vitae lorem risus, lectus. Suspendisse aliquam eget sed gravida nec.
                                        a(href="#!").main-carousel__link Подробнее
                            .col-4.col-lg-2
                                img(src="./images/header-carousel.webp", alt="img").main-carousel__img  
                .swiper-slide 
                    .container.no-gutters 
                        .row.justify-content-center.main-carousel__slide 
                            .col-6.col-lg-8.col-md-12 
                                .main-carousel__content 
                                    .main-carousel__text 
                                        h1.main-carousel__title Подарите своим близким новый iPad mini!
                                        p.main-carousel__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget morbi vitae lorem risus, lectus. Suspendisse aliquam eget sed gravida nec.
                                        a(href="#!").main-carousel__link Подробнее
                            .col-4.col-lg-2
                                img(src="./images/header-carousel.webp", alt="img").main-carousel__img
            .swiper-button-next.main-carousel__next
                svg.main-carousel__next-icon   
                    use(xlink:href="./svg/sprite.svg#next")    