.footer 
    .footer__top 
        .container 
            .footer__top-content 
                .footer__customer 
                    h3.footer__customer-title Покупателям
                    ul.footer__customer-list 
                        li.footer__customer-item 
                            a(href="#!").footer__customer-link Как выбрать товар      
                        li.footer__customer-item 
                            a(href="#!").footer__customer-link Обратная связь
                        li.footer__customer-item 
                            a(href="#!").footer__customer-link Помощь по сервису 
                        li.footer__customer-item 
                            a(href="#!").footer__customer-link Участие в исследованиях 
                .footer__cooperation
                    h3.footer__cooperation-title Сотрудничество
                    ul.footer__cooperation-list 
                        li.footer__cooperation-item 
                            a(href="#!").footer__cooperation-link Личный кабинет
                        li.footer__cooperation-item 
                            a(href="#!").footer__cooperation-link Подключение магазина
                        li.footer__cooperation-item 
                            a(href="#!").footer__cooperation-link Помощь для магазинов
                        li.footer__cooperation-item 
                            a(href="#!").footer__cooperation-link Производителям
                        li.footer__cooperation-item 
                            a(href="#!").footer__cooperation-link Партнёрская программа
                        li.footer__cooperation-item 
                            a(href="#!").footer__cooperation-link Сайт для партнёров
                        li.footer__cooperation-item 
                            a(href="#!").footer__cooperation-link Новости компании
                .footer__social 
                    .footer__basket
                        span.footer__basket-btn
                            svg.footer__basket-icon 
                                use(xlink:href="./svg/sprite.svg#basket")
                        p.footer__basket-text Советник находит нужные вам товары по более выгодной цене.
                            a(href="#!").footer__basket-link Подробнее
                    ul.footer__social-icons
                        li.footer__social-item 
                            a(href="#!").footer__social-link
                                svg.footer__social-icon
                                    use(xlink:href="./svg/sprite.svg#facebook")  
                        li.footer__social-item 
                            a(href="#!").footer__social-link
                                svg.footer__social-icon
                                    use(xlink:href="./svg/sprite.svg#vk")  
                        li.footer__social-item 
                            a(href="#!").footer__social-link
                                svg.footer__social-icon
                                    use(xlink:href="./svg/sprite.svg#instagram")   
    .footer__bottom
        .container 
            .footer__bottom-content 
                ul.footer__bottom-list 
                    li.footer__bottom-item 
                        a(href="#!").footer__bottom-link Мобильная версия
                    li.footer__bottom-item 
                        a(href="#!").footer__bottom-link Статистика
                    li.footer__bottom-item 
                        a(href="#!").footer__bottom-link Пользовательское соглашение
                p.footer__bottom-text © 2020. Все права защищены. Название магазина