.goods 
    .container
        .row 
            mixin goodsCard(icon, name, link1, link2, link3, link4, link5)
                .col-3.col-xl-4.col-lg-6.col-md-12
                    .goods__card 
                        .goods__name 
                            svg.goods__icon 
                                use(xlink:href="./svg/sprite.svg#"+icon)
                            h3.goods__title= name 
                            p.goods__count 436 901
                        ul.goods__list 
                            li.goods__item 
                                a(href="#!").goods__link= link1 
                            li.goods__item 
                                a(href="#!").goods__link= link2 
                            li.goods__item 
                                a(href="#!").goods__link= link3 
                            li.goods__item 
                                a(href="#!").goods__link= link4
                            li.goods__item 
                                a(href="#!").goods__link= link5
                        a(href="#!").goods__more 
                            p.goods__more-text Показать еще
                            svg.goods__more-icon 
                                use(xlink:href="./svg/sprite.svg#goods-dropdown")
            +goodsCard('shovel', 'Стройматериалы', 'Отделочные материалы, плитка, обои', 'Стеновые, кладочные материалы, кирпич, камень', 'Окна, двери, перегородки','Полы и потолки','Элементы декоративно-отделочные архитектурные')
            +goodsCard('polo-shirt', 'Одежда и обувь', 'Одежда для женщин', 'Одежда для мужчин', 'Аксессуары и галантерея','Одежда и обувь подростковая, детская','Обувь женская, мужская, спортивная')
            +goodsCard('food', 'Продукты и напитки', 'Продукция хлебобулочная, кондитерская', 'Безалкогольные напитки', 'Консервы','Специи, приправы, добавки, другое продовольствие','Чай, кофе, какао') 
            +goodsCard('leather', 'Текстиль и кожа', 'Ткани из натуральных и искусственных волокон', 'Волокна, пряжа, нити текстильные', 'Постельные принадлежности и домашний текстиль','Галантерея и изделия легкой промышленности','Волокна, пряжа, нити текстильные') 
            +goodsCard('cosmetics', 'Здоровье и красота', 'Косметика и парфюмерия', 'Оснащение для парикмахерских и салонов красоты', 'Ортопедические и компрессионные товары','Средства гигиены','Косметологические оборудование и материалы') 
            +goodsCard('feeder', 'Детские товары', 'Игрушки', 'Товары для школы', 'Детские коляски, кроватки и манежи','Велосипеды, самокаты и электромобили','Игры') 
            +goodsCard('bed', 'Мебель и интерьер', 'Предметы интерьера', 'Мебель бытовая', 'Мебель офисная','Мебельные комплектующие','Матрацы и сопутствующие товары') 
            +goodsCard('home', 'Дом и сад', 'Посуда и фурнитура', 'Кухонные принадлежности', 'Товары для дачи, сада, огорода','Товары и продукция для дома','Другие потребительские товары') 