header.header 
    
    .top-nav
        .container 
            .top-nav__content
                ul.top-nav__list
                    li.top-nav__item  
                        a.top-nav__link(href="#!") Контакты 
                    li.top-nav__item  
                        a.top-nav__link(href="#!") Помощь 
                    li.top-nav__item  
                        a.top-nav__link(href="#!") Услуги и сервис 
                    li.top-nav__item  
                        a.top-nav__link(href="#!") Стать партнером  
                .top-nav__info  
                    svg.top-nav__icon-marker 
                        use(xlink:href="./svg/sprite.svg#marker")
                    p.top-nav__select Ваша локация 
                    svg.top-nav__select-arrow 
                        use(xlink:href="./svg/sprite.svg#select-arr")
                    a(href="tel:55667788").top-nav__phone  55 66 77 88
    .header__line 
    .center-nav 
        .container 
            .center-nav__content 
                .center-nav__left 
                    a.center-nav__logo(href="#")
                        img(src="./images/logo.webp", alt="logo")
                    label.center-nav__label 
                        input.center-nav__input(type="text")
                        svg.center-nav__icon-search
                            use(xlink:href="./svg/sprite.svg#search")
                        ul.center-nav__table 
                            li.center-nav__table-item Lorem, ipsum dolor.
                            li.center-nav__table-item Lorem, ipsum dolor.
                            li.center-nav__table-item Lorem, ipsum dolor.
                            li.center-nav__table-item Lorem, ipsum dolor.
                            li.center-nav__table-item Lorem, ipsum dolor.
                .center-nav__right    
                    ul.center-nav__choose-list
                        li.center-nav__choose-item
                            a.center-nav__choose-link(href="#!")
                                .center-nav__choose-count 
                                    svg.center-nav__choose-icon 
                                        use(xlink:href="./svg/sprite.svg#clock")
                                    span.center-nav__choose-num 0
                                p.center-nav__choose-text Просмотры 
                        li.center-nav__choose-item
                            a.center-nav__choose-link(href="#!")
                                .center-nav__choose-count 
                                    svg.center-nav__choose-icon 
                                        use(xlink:href="./svg/sprite.svg#scales")
                                    span.center-nav__choose-num 0
                                p.center-nav__choose-text Сравнение 
                        li.center-nav__choose-item
                            a.center-nav__choose-link(href="#!")
                                .center-nav__choose-count 
                                    svg.center-nav__choose-icon 
                                        use(xlink:href="./svg/sprite.svg#love")
                                    span.center-nav__choose-num 0
                                p.center-nav__choose-text Избранные 
                    a(href="#!").center-nav__user-info 
                        span.center-nav__user-photo 
                            svg.center-nav__user-icon 
                                use(xlink:href="./svg/sprite.svg#user")
                        p.center-nav__user-text Войти

    nav.bottom-nav
        .container 
            .bottom-nav__content
                .bottom-nav__dropdown-menu 
                    svg.bottom-nav__burger-icon 
                        use(xlink:href="./svg/sprite.svg#burger")
                    p.bottom-nav__burger-menu Все категории
                ul.bottom-nav__list 
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link 
                            img.bottom-nav__img(src="./images/sale.webp", alt="sale") 
                            span Скидки
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Электроника
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Компьютеры
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Бытовая техника
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Красота и здоровье
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Продукты
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Спорт
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Детям
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Ремонт
                    li.bottom-nav__item 
                        a(href="#!").bottom-nav__link    Дача
                           



            
        