.subscribe 
    .container 
        .row.justify-content-center 
            .col-6.col-lg-12 
                p.subscribe__text Будьте в курсе скидок на новые и актуальные предложения для всей вашей семьи. Никакого спама! Только полезная информация.
            .col-6.col-lg-8.col-md-10.col-sm-12
                form.subscribe__form
                    input(type="email" placeholder="Электронная почта").subscribe__input
                    button(type="submit" disabled).subscribe__btn Подписаться