
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.container {
    @include container()
}
.row {
    @include row()
}
.no-gutters {
    padding-left: 0;
    padding-right: 0;
}
body {   
    min-width: 320px; 
    font-family: "Helvetica" , sans-serif; 
}
 


