include components/header.pug
include components/carousel.pug
include components/goods.pug
include components/popular.pug
include components/advertising.pug
include components/offer.pug
include components/season.pug
include components/journal.pug
include components/review.pug
include components/brands.pug
include components/app.pug
include components/subscribe.pug
include components/history.pug
include components/footer.pug